.influence {
    background-image: url("../../public/images/influence-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    background-size: 100% 100%;
    color: #fff;
}

.influence-container {
    height: 100vh;
    width: 100%;
    float: left;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,1));
}